@charset "UTF-8";
/*------------------------------
   base
-------------------------------*/
html
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
form,
figure,
figcaption,
dl,
dt,
dd,
label,
table,
article,
footer,
header,
nav,
section,
time {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

@media (min-width: 600px) {
  html {
    font-size: 66.4%;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 70.312%;
  }
}

body {
  width: 100vw;
  background-color: #f8f8f8;
  background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0), linear-gradient(-45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0);
  background-size: 20px 20px;
  font-size: 1.6em;
  font-family: 'Kosugi+Maru', 游ゴシック, YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: bolder;
  color: #585858;
  line-height: 1;
  letter-spacing: .1rem;
  overflow-x: hidden;
}

@media (min-width: 960px) {
  body {
    background-size: 25px 25px;
  }
}

h1,
h2,
h3,
.gNav__list li,
.enter {
  font-family: 'Quicksand';
}

a,
button {
  cursor: pointer;
  color: #4c5d64;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #4c5d64;
}

ul {
  list-style-type: none;
}

button, [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

/* ------------------------------
   /base
-------------------------------*/
/*************************************
               main
**************************************/
/* ------------------------------
   common
-------------------------------*/
.sec-anim,
.sec-home,
.sec-prof,
.sec-contact {
  position: relative;
  width: 100%;
}

.section {
  min-height: 100vh;
  padding-bottom: 80px;
  overflow: hidden;
}

.sec__container .wrapper {
  margin-bottom: 32px;
  padding-bottom: 40px;
}

@media (min-width: 600px) {
  .sec__container .wrapper {
    margin-bottom: 64px;
  }
}

@media (min-width: 960px) {
  .sec__container .wrapper {
    margin-bottom: 80px;
  }
}

.sec-home {
  display: none;
}

.sec-home {
  opacity: 0;
}

@media (min-width: 600px) {
  .sec-home .sec__container,
  .sec-prof .sec__container,
  .sec-contact .sec__container {
    width: 70vw;
    left: calc((100vw - 70vw)/2);
  }
}

@media (min-width: 960px) {
  .sec-home .sec__container,
  .sec-prof .sec__container,
  .sec-contact .sec__container {
    width: 60vw;
    left: calc((100vw - 60vw)/2);
  }
}

.sec__container {
  position: relative;
  top: 80px;
  left: calc((100vw - 80vw)/2);
  width: 80vw;
  height: auto;
  background: #ffffffc7;
  border-radius: 10px;
  outline: dashed 4px #a4dffa91;
  outline-offset: -1rem;
}

@media (min-width: 600px) {
  .sec__container {
    top: 112px;
  }
}

@media (min-width: 960px) {
  .sec__container {
    top: 120px;
  }
}

.sec__container .sec__ttl {
  margin-bottom: 32px;
  padding: 22px 16px;
  background: #5cafd6;
  border-radius: 10px 10px 0 0;
  color: #fffffff1;
  text-align: center;
}

@media (min-width: 600px) {
  .sec__container .sec__ttl {
    padding: 24px;
  }
}

@media (min-width: 960px) {
  .sec__container .sec__ttl {
    padding: 32px;
  }
}

@media (min-width: 600px) {
  .sec__container .sec__ttl span {
    font-size: 2.4rem;
  }
}

@media (min-width: 960px) {
  .sec__container .sec__ttl span {
    font-size: 3.2rem;
  }
}

.cnts__ttl {
  text-align: center;
  margin-bottom: 34px;
}

.cnts__ttl span {
  position: relative;
}

.cnts__ttl span::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #a4dffa91;
  content: '';
}

/* navigation */
.gNav {
  width: 100%;
}

.gNav .gNav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 32px;
  left: 50%;
  width: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gNav .gNav__list li {
  display: inline-block;
  width: 40%;
  background: #fff4b3;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 1px 1px 1px #c8b6903a;
          box-shadow: 0 1px 1px 1px #c8b6903a;
  -webkit-transition: .5s;
  transition: .5s;
}

.gNav .gNav__list li:hover {
  background: #4fac9f;
}

.gNav .gNav__list li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 11px 0;
  border-radius: 50px;
}

@media (min-width: 600px) {
  .gNav .gNav__list li a {
    padding: 16px 0;
    border-radius: 50px;
  }
}

@media (min-width: 960px) {
  .gNav .gNav__list li a {
    padding: 24px 0;
  }
}

@media (min-width: 600px) {
  .gNav .gNav__list li {
    font-size: 1.8rem;
    border-radius: 50px;
  }
}

@media (min-width: 960px) {
  .gNav .gNav__list li {
    font-size: 1.9rem;
  }
}

.gNav .gNav__list li:last-child {
  margin-left: 8px;
}

@media (min-width: 600px) {
  .gNav .gNav__list li:last-child {
    margin-left: 24px;
  }
}

@media (min-width: 960px) {
  .gNav .gNav__list li:last-child {
    margin-left: 56px;
  }
}

.gNav .gNav__list li:hover {
  cursor: pointer;
}

.corner {
  position: absolute;
  left: 10px;
  bottom: 35px;
  width: 25px;
  height: 25px;
  background: #4fac9f;
  border-radius: 5px;
}

.corner::before {
  position: absolute;
  right: -18px;
  bottom: -18px;
  width: 25px;
  height: 25px;
  background: #f48738;
  border-radius: 5px;
  content: '';
}

.sec__bg {
  position: absolute;
  top: -40%;
  left: -0%;
  width: 100vw;
  height: 350vh;
  background: #ffc23ecf;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  z-index: -1;
}

@media (min-width: 960px) {
  .pc_hide {
    display: none;
  }
}

@media (min-width: 960px) {
  .sp_hide {
    display: block;
  }
}

/*-------------------------------
  ページ遷移 JavaScript
------------------------------- */
.is-fadeout {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
    opacity: 0;
  }
}

/* ------------------------------
   /common
-------------------------------*/
/* ------------------------------
   animation
-------------------------------*/
.sec-anim {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.anim_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: calc((100vh - 20vw) / 2);
  left: calc((100vw - 20vw) / 2);
  width: 20vw;
  height: 20vw;
  -webkit-transform: translateY(-8vw);
          transform: translateY(-8vw);
}

.anim_1 div {
  width: 5vw;
  height: 5vw;
  background: rgba(255, 255, 255, 0.178);
  border-radius: 50%;
}

.anim_2 {
  position: absolute;
  top: calc((100vh - 20vw) / 2);
  left: calc((100vw - 20vw) / 2);
  width: 20vw;
  height: 20vw;
  background: #5cafd6;
  opacity: 0;
}

.anim_3 .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: -90%;
  left: calc((100vw - 60vw) / 2);
  width: 60vw;
  height: 20vw;
}

@media (min-width: 600px) {
  .anim_3 .wrap {
    left: calc((100vw - 48vw) / 2);
    width: 48vw;
    bottom: -100%;
  }
}

@media (min-width: 960px) {
  .anim_3 .wrap {
    bottom: -105%;
  }
}

.anim_3 .wrap div {
  width: 15vw;
  height: 15vw;
}

@media (min-width: 600px) {
  .anim_3 .wrap div {
    width: 9vw;
    height: 9vw;
  }
}

.anim_3 .wrap div span {
  display: block;
  width: 100%;
  height: 100%;
  background: #f48738;
  border-radius: 50%;
  font-size: 9vw;
  color: #fff;
  text-align: center;
  line-height: 15vw;
}

@media (min-width: 600px) {
  .anim_3 .wrap div span {
    font-size: 6vw;
    line-height: 9vw;
  }
}

.anim_3 .sub__ttl {
  position: absolute;
  bottom: -100%;
  left: calc((100vw - 7vw * 7) / 2);
  font-size: 7vw;
}

@media (min-width: 600px) {
  .anim_3 .sub__ttl {
    left: calc((100vw - 4vw * 7) / 2);
    font-size: 4vw;
  }
}

.anim_3 .enter {
  position: absolute;
  bottom: 22vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 16px 40px;
  background: #5cafd6;
  border-radius: 100px;
  font-size: 5vw;
  color: #fff;
  opacity: 0;
  -webkit-box-shadow: 0 1px 3px 3px #d1d1d1;
          box-shadow: 0 1px 3px 3px #d1d1d1;
  -webkit-transition: .5;
  transition: .5;
}

@media (min-width: 600px) {
  .anim_3 .enter {
    bottom: 18vh;
  }
}

.anim_3 .enter:hover {
  cursor: pointer;
  opacity: .8;
}

/* ------------------------------
   /animation
-------------------------------*/
/* ------------------------------
   home
-------------------------------*/
.link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #f48738;
  border-radius: 0 0 0 10px;
  text-align: center;
  z-index: 100;
}

.link span {
  display: block;
}

.link span img {
  width: 32px;
  margin-top: 8px;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.link span img:hover {
  background: #4fac9f;
}

@media (min-width: 600px) {
  .link span img {
    width: 40px;
    margin-top: 12px;
  }
}

@media (min-width: 960px) {
  .link span img {
    width: 48px;
    margin-top: 18px;
  }
}

.site__ttl {
  font-size: 1.3rem;
}

.site__ttl a {
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.site__ttl a:hover {
  color: #4fac9f;
}

@media (min-width: 600px) {
  .site__ttl {
    padding: 14px 14px 5px 10px;
    font-size: 1.6rem;
  }
}

@media (min-width: 960px) {
  .site__ttl {
    padding: 20px 18px 10px 14px;
    font-size: 1.8rem;
  }
}

.site__ttl:hover {
  cursor: pointer;
}

.site__ttl span {
  display: block;
}

.site__ttl span img {
  padding: 8px;
}

.home__container {
  top: calc((100vh - 75vh)/2);
  height: 75vh;
}

.home__container .home__gNav {
  width: 100%;
}

.home__container .gNav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  .home__container .gNav__list {
    top: 56%;
  }
}

@media (min-width: 960px) {
  .home__container .gNav__list {
    top: 60%;
  }
}

.home__container .gNav__list li {
  background: #fff4b3;
  border-radius: 50px;
  font-size: 1.7rem;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 1px 1px #f0f0f0;
          box-shadow: 0 1px 1px 1px #f0f0f0;
}

.home__container .gNav__list li a {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0 10px 32px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 600px) {
  .home__container .gNav__list li a {
    padding: 18px 0 18px 32px;
    border-radius: 50px;
  }
}

.home__container .gNav__list li a:hover {
  background: #4fac9f;
  color: #fff;
  border-radius: 50px;
}

.home__container .gNav__list li a img {
  width: 18px;
  margin-right: 8px;
  vertical-align: bottom;
}

@media (min-width: 600px) {
  .home__container .gNav__list li a img {
    width: 20px;
  }
}

@media (min-width: 960px) {
  .home__container .gNav__list li a img {
    width: 24px;
    margin-right: 10px;
  }
}

.home__container .gNav__list li:not(:last-child) {
  margin-bottom: 32px;
}

.home__container .gNav__list li:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .home__container .gNav__list li {
    font-size: 1.9rem;
    -webkit-box-shadow: 0 1px 2px 1px #9a91803d;
            box-shadow: 0 1px 2px 1px #9a91803d;
  }
}

@media (min-width: 960px) {
  .home__container .gNav__list li {
    font-size: 2rem;
    -webkit-box-shadow: 0 1px 2px 1px #9a91803d;
            box-shadow: 0 1px 2px 1px #9a91803d;
  }
}

.home__container .gNav__list a {
  font-size: 20px;
  color: #4c5d64;
}

/* ------------------------------
   /home
------------------------------- */
/* ------------------------------
   works
------------------------------- */
.sec-works {
  position: relative;
}

@media (min-width: 600px) {
  .works__container .works__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.works__container .works__wrapper:not(:last-child) {
  margin-bottom: 32px;
}

.works__container .works__wrapper .work__box {
  width: 70%;
  margin: auto;
  background: #fff4b3;
  border-radius: 10px;
  opacity: .9;
  -webkit-transition: .2s;
  transition: .2s;
}

.works__container .works__wrapper .work__box:hover {
  opacity: 1;
  -webkit-box-shadow: 0 1px 3px 3px #c8b6903a;
          box-shadow: 0 1px 3px 3px #c8b6903a;
}

@media (min-width: 600px) {
  .works__container .works__wrapper .work__box {
    width: calc(50% - 48px);
    padding: 8px;
    margin: 0 0 32px 0;
  }
}

@media (min-width: 600px) {
  .works__container .works__wrapper .work__box:nth-child(even) {
    margin-left: 32px;
  }
}

.works__container .works__wrapper .work__box:not(:last-child) {
  margin-bottom: 32px;
}

@media (min-width: 960px) {
  .works__container .works__wrapper .work__box {
    width: 33.333%;
  }
}

.works__container .works__wrapper .work__box img {
  display: block;
  width: 95%;
  margin: auto;
  padding-top: 8px;
  vertical-align: bottom;
  -webkit-box-shadow: 0 1px 1px 1px #c8b6903a;
          box-shadow: 0 1px 1px 1px #c8b6903a;
}

.works__container .works__wrapper .work__box .work__txt {
  width: 100%;
  padding: 8px;
  color: #585858;
}

.works__container .works__wrapper .work__box .work__txt p {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.works__container .works__wrapper .work__box .work__txt time {
  font-size: 1.2rem;
}

/* ------------------------------
   /works
------------------------------- */
/* ------------------------------
   profile
------------------------------- */
.sec-prof {
  position: relative;
}

.prof__container .prof__wrapper {
  padding-bottom: 40px;
}

.prof__container .prof__wrapper p {
  width: 80%;
  margin: auto;
}

table {
  width: 90%;
  margin: auto;
}

table tr:first-child th {
  border-radius: 10px 0 0 0;
}

table tr:first-child td {
  border-radius: 0 10px 0 0;
}

table tr:last-child th {
  border-radius: 0 0 0 10px;
}

table tr:last-child td {
  border-radius: 0 0 10px 0;
}

table th {
  padding: 5px 3px;
  background: #4abbbbca;
  border-bottom: #fff;
  color: #fff;
}

table td {
  padding: 5px 3px;
  background: #eeeeeeca;
  border-bottom: #fff;
}

/* ------------------------------
/profile
------------------------------- */
/*************************************
               /main
**************************************/
/*************************************
               footer
**************************************/
.footer {
  position: relative;
}

.footer .copy {
  position: absolute;
  font-size: 1.3rem;
  color: #fff;
  bottom: 0;
  left: 0;
}

/*************************************
               /footer
**************************************/
/*# sourceMappingURL=style.css.map */