// 日本語

/*------------------------------
   base
-------------------------------*/
$pc: 960px;
$tab: 600px;
@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}
@mixin tab {
  @media(min-width: $tab) {
    @content;
  }
}

 html
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
form,
figure,
figcaption,
dl,
dt,
dd,
label,
table,
article,
footer,
header,
nav,
section,
time {
  margin:0;
  padding:0;
  border:0;
}

html {
  font-size: 62.5%;
  @media (min-width: 600px) {
    font-size: 66.4%;
  }
  @media (min-width: 960px) {
    font-size: 70.312%;
  }
}

body {
  width: 100vw;
  background-color: #f8f8f8;
  background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0),
  linear-gradient(-45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0);
  background-size: 20px 20px;
  font-size: 1.6em;
  font-family: 'Kosugi+Maru', 游ゴシック, YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: bolder;
  color: #585858;
  line-height:1;
  letter-spacing: .1rem;
  overflow-x: hidden;
  @include pc {
    background-size: 25px 25px;
  }
}

h1,
h2,
h3,
.gNav__list li,
.enter {
  font-family: 'Quicksand';
}

a,
button {
  cursor: pointer;
  color: #4c5d64;
}

*, *::before, *::after{
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #4c5d64;
}

ul {
    list-style-type: none;
}

button,[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
/* ------------------------------
   /base
-------------------------------*/
/*************************************
               main
**************************************/
/* ------------------------------
   common
-------------------------------*/
// .main {
//   width: 100vw;
// }

.sec-anim,
.sec-home,
.sec-prof,
.sec-contact {
  position: relative;
  width: 100%;
}

.section {
  min-height: 100vh;
  padding-bottom: 80px;
  overflow: hidden;
}

.sec__container {
  .wrapper {
    margin-bottom: 32px;
    padding-bottom: 40px;
    @include tab {
      margin-bottom: 64px;
    }
    @include pc {
      margin-bottom: 80px;
    }
  }
}

.sec-home {
  display: none;
}

.sec-home {
  opacity: 0;
}

.sec-home .sec__container,
.sec-prof .sec__container,
.sec-contact .sec__container {
  @include tab {
    width: 70vw;
    left: calc((100vw - 70vw)/2);
  }
  @include pc {
    width: 60vw;
    left: calc((100vw - 60vw)/2);
  }
}

.sec__container {
  position: relative;
  top: 80px;
  left: calc((100vw - 80vw)/2);
  width: 80vw;
  height: auto;
  background: #ffffffc7;
  border-radius: 10px;
  outline: dashed 4px #a4dffa91;
  outline-offset: -1rem;
  
  @include tab {
    top: 112px;
  }
  @include pc {
    top: 120px;
  }
  
  .sec__ttl {
    margin-bottom: 32px;
    padding: 22px 16px;
    background: #5cafd6;
    border-radius: 10px 10px 0 0;
    color: #fffffff1;
    text-align: center;

    @include tab {
      padding: 24px;
    }
    @include pc {
      padding: 32px;
    }

    span {
      @include tab {
        font-size: 2.4rem;
      }
      @include pc {
        font-size: 3.2rem;
      }
    }
  }
}

.cnts__ttl {
  text-align: center;  
  margin-bottom: 34px;

  span {
    position: relative;
  &::before {
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-bottom: 4px solid #a4dffa91;
      content: '';
    }
  }
}

/* navigation */
.gNav {
  width: 100%;

  .gNav__list {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 32px;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);

    li {
      display: inline-block;
      width: 40%;
      background:#fff4b3;
      border-radius: 50px;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
      box-shadow: 0 1px 1px 1px #c8b6903a;
      transition: .5s;
      &:hover {
        background: #4fac9f;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 11px 0;
        border-radius: 50px;

        @include tab {
          padding: 16px 0;
          border-radius: 50px;
        }
        @include pc {
          padding: 24px 0;
        }
      }

      @include tab {
        font-size: 1.8rem;
        border-radius: 50px;
      }
      @include pc {
        font-size: 1.9rem;
      }
  
      &:last-child {
        margin-left: 8px;
        @include tab {
          margin-left: 24px;
        }
        @include pc {
          margin-left: 56px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.corner {
  position: absolute;
  left: 10px;
  bottom: 35px;
  width: 25px;
  height: 25px;
  background: #4fac9f;
  border-radius: 5px;

  &::before{
    position: absolute;
    right: -18px;
    bottom: -18px;
    width: 25px;
    height: 25px;
    background: #f48738;
    border-radius: 5px;
    content: '';
  }
}

.sec__bg {
  position: absolute;
  top: -40%;
  left: -0%;
  width: 100vw;
  height: 350vh;
  background: #ffc23ecf;
  transform: rotate(-35deg);
  z-index: -1;
}

.pc_hide {
  @include pc {
    display: none;
  }
}
.sp_hide {
  @include pc {
    display: block;
  }
}

/*-------------------------------
  ページ遷移 JavaScript
------------------------------- */
.is-fadeout {
  animation: fadeOut 1s;
}
@keyframes fadeOut {
  0%   { transform: translate(0); opacity: 1; }
  100% { transform: translate(-50px, -50px); opacity: 0; }
}
/* ------------------------------
   /common
-------------------------------*/
/* ------------------------------
   animation
-------------------------------*/
.sec-anim {
  position: relative;
  width: 100vw;
  height: 100vh;
}
// 16つの玉
.anim_1 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: calc((100vh - 20vw) / 2);
  left: calc((100vw - 20vw) / 2);
  width: 20vw;
  height: 20vw;
  transform: translateY(-8vw);

  div {
    width: 5vw;
    height: 5vw;
    background: rgba(255, 255, 255, 0.178);
    border-radius: 50%;
  }
}
// 大きな四角が丸くなる
.anim_2 {
  position: absolute;
  top: calc((100vh - 20vw) / 2);
  left: calc((100vw - 20vw) / 2);
  width: 20vw;
  height: 20vw;
  background: #5cafd6;
  opacity: 0;
}

//タイトル
.anim_3 {
  .wrap {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -90%;
    left: calc((100vw - 60vw) / 2);
    width: 60vw;
    height: 20vw;
    @include tab {
      left: calc((100vw - 48vw) / 2);
      width: 48vw;
      bottom: -100%;
    }
    @include pc {
      bottom: -105%;
      }

    div{
      width: 15vw;
      height: 15vw;
      @include tab {
        width: 9vw;
        height: 9vw;
      }
      
      span {
        display: block;
        width: 100%;
        height: 100%;
        background: #f48738;
        border-radius: 50%;
        font-size: 9vw;
        color: #fff;
        text-align: center;
        line-height: 15vw;
        @include tab {
          font-size: 6vw;
          line-height: 9vw;
        }
      }
    }
  } 
  .sub__ttl {
    position: absolute;
    bottom: -100%;
    left: calc((100vw - 7vw * 7) / 2);
    font-size: 7vw;
    
    @include tab {
    left: calc((100vw - 4vw * 7) / 2);
    font-size: 4vw;
    }
  }
  .enter {
    position: absolute;
    bottom: 22vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 40px;
    background: #5cafd6;
    border-radius: 100px;
    font-size: 5vw;
    color: #fff;
    opacity: 0;
    box-shadow: 0 1px 3px 3px #d1d1d1;
    transition: .5;
    @include tab {
      bottom: 18vh;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
      
    }
  }
}
/* ------------------------------
   /animation
-------------------------------*/
/* ------------------------------
   home
-------------------------------*/
.link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #f48738;
  border-radius: 0 0 0 10px;
  text-align: center;
  z-index: 100;
  span {
    display: block;
    
    img {
      width: 32px;
      margin-top: 8px;
      border-radius: 50%;
      transition: .3s;
      &:hover {
        background: #4fac9f;
      }
      
      @include tab {
        width: 40px;
        margin-top: 12px;
      }

      @include pc {
        width: 48px;
        margin-top: 18px;
      }
    }
  }
}
.site__ttl {
  font-size: 1.3rem;
  a{
    color: #fff;
    transition: .4s;
    &:hover {
      color: #4fac9f;
    }
  }

  @include tab {
    padding:  14px 14px 5px 10px;
    font-size: 1.6rem;
  }

  @include pc {
    padding: 20px 18px 10px 14px;
    font-size: 1.8rem;
  }
  
  &:hover {
    cursor: pointer;
  }

  span {
    display: block;

    img {
      padding: 8px;
    }
  }
}

.home__container {
  top: calc((100vh - 75vh)/2);
  height: 75vh;

  .home__gNav {
    width: 100%;
  }
    
  .gNav__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    
    @include tab {
      top: 56%;
    }
    @include pc {
      top: 60%;
    }

    li {
      
      background:#fff4b3;
      border-radius: 50px;
      font-size: 1.7rem;
      font-weight: bold;
      box-shadow: 0 1px 1px 1px #f0f0f0;

      a {
        display: block;
        position: relative;
        width: 100%;
        padding: 10px 0 10px 32px;
        transition: .5s;
        @include tab {
          padding: 18px 0 18px 32px;
          border-radius: 50px;
        }
        // @include pc {
          // padding: 18px 0 18px 32px;
        // }
        &:hover {
          background: #4fac9f;
          color: #fff;
          border-radius: 50px;
        }
        img {
          width: 18px;
          margin-right: 8px;
          vertical-align: bottom;
          @include tab {
            width: 20px;
          }
          @include pc {
            width: 24px;
            margin-right: 10px;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      &:hover {
        cursor: pointer;
      }
      @include tab {
        font-size: 1.9rem;
        box-shadow: 0 1px 2px 1px #9a91803d;
      }
      @include pc {
        font-size: 2rem;
        box-shadow: 0 1px 2px 1px #9a91803d;
      }
    }

    a {
      font-size: 20px;
      color: #4c5d64;
    }
  }
}
/* ------------------------------
   /home
------------------------------- */
/* ------------------------------
   works
------------------------------- */
.sec-works {
  position: relative;
}

.works__container {
  .works__wrapper {
    @include tab {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    
    .work__box {
      width: 70%;
      margin: auto;
      background: #fff4b3;
      border-radius: 10px;
      opacity: .9;
      transition: .2s;

      &:hover {
        opacity: 1;
        box-shadow: 0 1px 3px 3px #c8b6903a;
      }

      @include tab {
        width: calc(50% - 48px);
        padding: 8px;
        margin: 0 0 32px 0;
      }

      &:nth-child(even) {
        @include tab {
          margin-left: 32px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      @include pc {
        width: 33.333%;
      }

      
      img {
        display: block;
        width: 95%;
        margin: auto;
        padding-top: 8px;
        vertical-align: bottom;
        box-shadow: 0 1px 1px 1px #c8b6903a;
      }

      .work__txt {
        width: 100%;
        padding: 8px;
        color: #585858;
        
        p {
          margin-bottom: 5px;
          font-size: 1.3rem;
        }

        time {
          font-size: 1.2rem;
        } 

      }
    }
  }
}

/* ------------------------------
   /works
------------------------------- */
/* ------------------------------
   profile
------------------------------- */
.sec-prof {
  position: relative;
}

.prof__container {
  .prof__wrapper {
    padding-bottom: 40px;
    
    p {
      width: 80%;
      margin: auto;
    }
  }
}

table {
  width: 90%;
  margin: auto;
  
  tr {
    &:first-child th {
      border-radius: 10px 0 0 0;
    }
    &:first-child td {
      border-radius: 0 10px 0 0;
    }
    
    &:last-child th {
      border-radius: 0 0 0 10px;
    }
    &:last-child td {
      border-radius: 0 0 10px 0;
    }

  }
  th {
    padding: 5px 3px;
    background: #4abbbbca;
    border-bottom: #fff;
    color: #fff;
  }
  td {
    padding: 5px 3px;
    background: #eeeeeeca;
    border-bottom: #fff;
  }
}
/* ------------------------------
/profile
------------------------------- */
/*************************************
               /main
**************************************/
/*************************************
               footer
**************************************/
.footer {
  position: relative;
  .copy {
    position: absolute;
    font-size: 1.3rem;
    color: #fff;
    bottom: 0;
    left: 0;
  }
}
/*************************************
               /footer
**************************************/
